/***************************************************
 ********************** ALERT **********************
 ***************************************************/

/***************************************************
 * GENERIC
 ***************************************************/
.ui-growl{
	//left: 20px !important;
	width: auto;
	font-family: $--project-font-family !important;
	&-item-container{
		border-radius: 0.5em;
		&.ui-growl-error{
			background-color: nth(getMap($project, ("color", "error")), 1);
			&.ui-state-highlight{
				background: nth(getMap($project, ("color", "error")), 1);
				color: nth(getMap($project, ("color", "error")), 2) !important;
			}
			.ui-growl-item{
				.ui-growl-message{
					p{
					 	color: nth(getMap($project, ("color", "error")), 2) !important;
					}
				}
			}
		}
		
		&.ui-growl-fatal{
			background-color: nth(getMap($project, ("color", "fatal")), 1);
			&.ui-state-highlight{
				background: nth(getMap($project, ("color", "fatal")), 1);
				color: nth(getMap($project, ("color", "fatal")), 2) !important;
			}
			.ui-growl-item{
				.ui-growl-message{
					p{
					 	color: nth(getMap($project, ("color", "fatal")), 2) !important;
					}
				}
			}
		}
		
		&.ui-growl-warn{
			background-color: nth(getMap($project, ("color", "info")), 1);
			&.ui-state-highlight{
				background: nth(getMap($project, ("color", "info")), 1);
				color: nth(getMap($project, ("color", "info")), 2) !important;
			}
			.ui-growl-item{
				.ui-growl-message{
					p{
					 	color: nth(getMap($project, ("color", "info")), 2) !important;
					}
				}
			}
		}
		
		&.ui-growl-info{
			background-color: nth(getMap($project, ("color", "succes")), 1);
			&.ui-state-highlight{
				background: nth(getMap($project, ("color", "succes")), 1);
				color: nth(getMap($project, ("color", "succes")), 2) !important;
			}
			.ui-growl-item{
				.ui-growl-message{
					p{
					 	color: nth(getMap($project, ("color", "succes")), 2) !important;
					}
				}
			}
		}
		
		&.ui-state-highlight{
			border-color: transparent !important;
		}
		
		.ui-growl-item{
			font-size: .8em !important;
			font-family: $--project-font-family !important;
			.ui-growl-message{
				.ui-growl-title{
					display: none !important;
					text-align: center !important;
				}
			}
		}
	}
}