
/***************************************************
 ****************** BACKGROUND *********************
 ***************************************************/

/***************************************************
 * STATU
 ***************************************************/
.sofia-statu{
	.ui-state-default, &, &.ui-state-default:hover{
		padding: 0.1em 0.3em !important;
		text-align: center; 
		width: auto !important;
		border-radius: 0.5em !important;
		border-color: transparent !important;
		font-size: 0.9em !important;
		font-family: $--project-font-family !important;
	}
}

.sofia-statu-primary{
	$--element-color: getMap($project, ("color", "primary"));
	&.ui-state-default, &, &.ui-state-default:hover{
		background: nth($--element-color, 1) !important; 
		color:  nth($--element-color, 2) !important; 
	}
}

.sofia-statu-succes{
	$--element-color: getMap($project, ("color", "succes"));
	&.ui-state-default, &, &.ui-state-default:hover{
		background: nth($--element-color, 1) !important; 
		color:  nth($--element-color, 2) !important; 
	}
}

.sofia-statu-error{
	$--element-color: getMap($project, ("color", "error"));
	&.ui-state-default, &, &.ui-state-default:hover{
		background: nth($--element-color, 1) !important; 
		color:  nth($--element-color, 2) !important; 
	}
}

.sofia-statu-fatal{
	$--element-color: getMap($project, ("color", "fatal"));
	&.ui-state-default, &, &.ui-state-default:hover{
		background: nth($--element-color, 1) !important; 
		color:  nth($--element-color, 2) !important; 
	}
}

.sofia-statu-warn{
	$--element-color: getMap($project, ("color", "info"));
	&.ui-state-default, &, &.ui-state-default:hover{
		background: nth($--element-color, 1) !important; 
		color:  nth($--element-color, 2) !important; 
	}
}

.sofia-statu-info{
	$--element-color: getMap($project, ("color", "other"));
	&.ui-state-default, &, &.ui-state-default:hover{
		background: nth($--element-color, 1) !important; 
		color:  nth($--element-color, 2) !important; 
	}
}