/***************************************************
 ******************* CONTAINER *********************
 ***************************************************/
.sofia-container-profile-image{
	background-color: nth(getMap($project, ("color", "primary")),1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding: 1.5rem;
	
	.sofia-text-title{
		color: nth(getMap($project, ("color", "primary")),2);
	}
	
	@media screen and (max-width: 1000px) {
		padding: 0;
		display: block;
		padding-bottom: 1em;
	}
}