/***************************************************
 ********************* EFFECT **********************
 ***************************************************/

/***************************************************
 * TRANSFORM
 ***************************************************/
$--element: getMap($default, ("all","effect","all", "transform"));
.sofia-effect-transform{
	position: relative;
    margin-top: 1em;
    margin-bottom: 1.6em;
	
	&__label{
		$--element: getMap($default, ("all","effect" ,"all", "transform", "all", "label"));
		$--element-color: getMap($--element, ("color", 1));
		$--element-font-size: getMap($--element, ("font", "size"));
		position: absolute;
        transform: translateY(0.5em);
        left: 10px;
        top: 2px;
        transition: all 0.25s ease;
        backface-visibility: hidden;
        pointer-events: none;
		color: $--element-color;
		font-size: $--element-font-size;
		&.sofia-effect-transform__label-active{
			$--element-color: getMap($--element, ("color", 2));
            transform: translateY(2.8em);
            left: 2px;
            font-size: .8em;
            color: $--element-color;
            .sofia-effect-transform__label-required{
                opacity: 0;
            }
        }
		.sofia-effect-transform__label-required{
			$--element: getMap($default, ("all","effect" ,"all", "transform", "all", "label", "all", "span"));
			$--element-color: getMap($--element, ("color"));
			color: $--element-color;
		}
	}
}