/***************************************************
 ********************** FORM ***********************
 ***************************************************/

/***************************************************
 * LOGIN 
 ***************************************************/
.sofia-container-login{
	&-dir{
		width: 90%;
		margin: 0.2em auto;
		height: auto;
		overflow: hidden;
	}
}

/***************************************************
 * FORGOT 
 ***************************************************/
.sofia-container-forgot{
	&-dir{
		width: 90%;
		margin: 0.2em auto;
		height: auto;
		overflow: hidden;
	}
}

/***************************************************
 * GENERIC 
 ***************************************************/
.sofia-view-login{
	display: flex;
    justify-content: center;
    align-items: center;
	min-height: 85vh;
	overflow: hidden;
	&__panel{
		$--element: getMap($default, ("all", "form", "panel"));
		$--element-color: getMap($--element, ("color"));
		width: 90%;
		height: auto;
		border-radius: 1em;
		overflow: hidden;
    	box-shadow: $--element-color;
		&-row{
			$--element: getMap($--element, ("all", "row"));
			$--element-color: getMap($--element, ("color"));
			@include display-flex();
			justify-content: flex-start;
    		height: auto;
			border-radius: 1em;
			background: nth($--element-color, 1);
			&-liquid{
				width: 65%;
				max-width: 65%;
				max-height: 70vh !important;
				min-height: 100%;
				overflow: hidden;
				background: url('https://lh3.googleusercontent.com/pw/ACtC-3egH5MqNx-Z_tmFIhRuA3WvDcf8PyPE5S6wlYH_pFA8Kdk4-yG0LXhjZxR-9FreybKlwhpwiiCyvhQr5RwmwKjCihZ2ol2qZDeoErbTXKTtKi-aSkvsxxsMIiMA5Qu4pGxx72WNLDlv_jip23PYW0R7=w968-h969-no?authuser=0'); 
    			background-size: cover;
    			background-repeat: no-repeat;
				border-radius: 1em;
				position: relative;
				h4{
					$--element: getMap($default, ("all", "form", "panel","all", "information", "all", "h4"));
					$--element-color: getMap($--element, ("color"));
					$--element-color-font-size: getMap($--element, ("font", "size"));
					text-align: left;
   				 	margin: 1em;
					color: $--element-color;
					@include text-shadow(darken(nth(getMap($project, ("color", "primary")), 1), 13));
					font-size: $--element-color-font-size;
					font-family: $--project-font-family;
					transition: all .5s linear;
					&:hover{
						color: darken(nth(getMap($project, ("color", "primary")), 1), 13);
						@include text-shadow($--element-color); 
					}
				}
				&-descripcion{
					position: absolute;
					top: 50%;
					left: 10%;
					transform: translateY(-50%);
					width: 100%;
					padding: 1em;
					max-width: 19em;
					height: auto;
					z-index: 100;
					p{
						font-family: $--project-font-family;
						font-size: 1em;
						color: nth(getMap($color, ("white", "darken-2")),1);
					}
				}
				.owl-carousel{
					$--element: getMap($default, ("all", "form", "panel","all", "information", "all", "carousel"));
					$--element-dimension: getMap($--element, ("dimension"));
    				width: 100%;
    				height: auto;
					min-height: $--element-dimension;
					overflow: hidden;
					.owl-item{
						.owl-carousel__img{
							$--element: getMap($default, ("all", "form", "panel","all", "information", "all", "carousel", "all", "image"));
							$--element-dimension: getMap($--element, ("dimension")); 
							float: right;
   	 						width: nth($--element-dimension, 1) !important;
    						height: nth($--element-dimension, 2) !important;
    						background-repeat: no-repeat;
    						background-size: cover;
    						margin-right: 9em;
							transform: translateY(50%);
							transition: all .5s linear;
							&:hover{
								cursor: pointer;
								transform: translateY(50%) scale(1.2);
							}
						}
					}
					.owl-stage-outer{
						overflow: visible;
					}
				}

				.owl-dots{
    				position: fixed;
    				padding: 3rem 1.2rem;
    				display: flex !important;
    				flex-direction: column;
    				transform: translateY(-120px);
					$--element: getMap($default, ("all", "form", "panel","all", "information", "all", "carousel", "all", "statu"));
					$--element-color: getMap($--element, ("color"));
					$--element-font-size: getMap($--element, ("font", "size"));
					button{
    					border-radius: 5rem;
    					margin: .3rem 0;
						span{
    						background: getMap($--element-color, (1)) !important;
							font-size: $--element-font-size;
							margin: 0rem .6rem !important;
						} 
					}
					.active{
   						border: 1px solid getMap($--element-color, (2)) !important;
						span{
    						background: getMap($--element-color, (2)) !important;
    						margin: .3rem .5rem !important;
						}
					}
				}
			}
			.sofia-view-login__container-generic{
				$--element: getMap($default, ("all", "form", "all","generic"));
				$--element-color: getMap($--element, ("color"));
				
				&.sofia-view-login__container-forgot,
				&.sofia-view-login__container-hidden{
					display: none;
				}
				
				&.sofia-view-login__container-visible{
					display: block;	
				}	
							
				height: 100%;
				width: 35%;
				background: nth($--element-color, 1); 
				padding: 1em;
				form{
					padding: 1em;
					h1{
						$--element: getMap($default, ("all", "form", "all","generic", "all", "title"));
						$--element-color: getMap($--element, ("color"));
						$--element-font-size: getMap($--element, ("font", "size"));
						@include text($--element-color, uppercase, $--project-font-family );
						font-size: $--element-font-size;
						margin: 1em auto;
					}
					.sofia-input-text{ 
						$--element: getMap($default, ("all", "form", "all","generic", "all", "input", "all", "text"));
						$--element-color: getMap($--element, ("color", "primary"));
						$--element-border: getMap($--element, ("border"));
						$--element-font-size: getMap($--element, ("font", "size"));
						background-color: nth($--element-color, 1) !important;
						color: nth($--element-color, 2) !important;
						border: $--element-border !important;
						font-size: $--element-font-size !important;
						padding: 0.7em;
						width: 100%;
					} 
					.sofia-effect-transform{
						label{
							$--element: getMap($default, ("all", "form", "all","generic", "all", "input", "all", "text", "all", "label"));
							$--element-color: getMap($--element, ("color", 1));
							$--element-font-size: getMap($--element, ("font", "size"));
							color: $--element-color !important;
							font-size: $--element-font-size !important;
							&.sofia-effect-transform__label-active{
								$--element-color: getMap($--element, ("color", 2));
								color: $--element-color !important;
								font-size: 12px !important;
								transform: translateY(3.6em);
							}
						}
					}
					.sofia-container-select{
						@include display-flex();
						.ui-state-default{
							background-color: transparent !important;
						}
					}
					.ui-selectonemenu {
						.ui-selectonemenu-label{
							text-align: center;
							background: nth(getMap($default, ("all", "form", "all","generic", "color")),1);
							color: nth(getMap($project, ("color", "body")),2) !important;
							font-size: .8em !important;
							border: none !important;
							padding: 0.5em !important;
						} 
					}
					.sofia-container-login__generic-container-forgot{
						.sofia-link{
							font-weight: bold;
							&:hover{
								color: nth(getMap($project, ("color", "primary")),1);
							}
						}
					}
					
					.sofia-container-login__generic-container-button{
						margin-top: 1.5em;
						margin-bottom: 1em; 
						.sofia-button{
							margin: 0em;
							min-width: 50%;
							padding-top: 1em .7em;
						}
					}
				}
			}
		}
	}
}

.sofia-form-register-generic{
	width: 90%;
	margin: 1em auto;
	padding: 1em;
	
	.sofia-container-text-image{
		overflow: hidden;
		margin-bottom: 1em;
		&__h1{
			font-size: 4em;
			font-weight: 900;
			letter-spacing: -2px;
			text-align: center;
			font-family: $--project-font-family-2;
			background-size: 100%;
		}
	}	
}



