/***************************************************
 ********************* IMAGE ***********************
 ***************************************************/

/***************************************************
 * LOGO
 ***************************************************/
$--element: getMap($default, ("all", "image", "all", "logo"));
$--element-dimension: getMap($--element, ("dimension"));

.sofia-logo{
	width: nth($--element-dimension, 1);
	height: nth($--element-dimension, 2);
}

/***************************************************
 * IMAGE
 ***************************************************/
.sofia-image-80{
	min-width: 100%;
	display: block;
	height: 80vh;
	object-fit: fill;
	background-position: center;
	background-size: auto;
	background-size: cover;

	@media screen and (max-width: 800px) {
        height: 40vh;
    }
}

.sofia-image-dark{
	filter:brightness(0.6);
}

/***************************************************
 * IMAGE USER
 ***************************************************/
.sofia-image-user{
	width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid nth(getMap($project, ("color", "body")),1);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
	overflow: hidden;
	&:hover{
		border-color: nth(getMap($project, ("color", "primary")), 1);
	}
}

/***************************************************
 * IMAGE PROFILE
 ***************************************************/

.sofia-container-image-profile-user{
	width: 18.75em;
    height: 31.25em;
	overflow: hidden;
	border-radius: 0.5em;
	position: relative;
	
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
    	background-position: center;
    	background-clip: border-box;
    	background-origin: content-box;
    	background-size: contain;
		cursor: pointer;
		transition: all .5s linear;
		&:hover{
			transform: scale(1.4);
		}
	} 
	
	&-icon{
		overflow: hidden !important;
		width: 1.8em !important;
		position: absolute !important;
    	bottom: 1em !important;
    	right: 1em !important;
    	height: 30px !important;
    	border-radius: 50% !important;
    	background: none !important;

		.ui-fileupload-buttonbar{
			background: none !important;
			border: none !important;
			.ui-fileupload-icon-only{ 
				position: absolute;
    			bottom: 0 !important;
   				background: none;
    			border: none;
    			left: -20%;
				.ui-button-icon-left{
					background: none !important;
				}
			}
			.ui-fileupload-upload, .ui-fileupload-content, .ui-message{
				opacity: 0 !important;
			}
		}
		.ui-fileupload-conten, .ui-widget-content{
			background: none !important; 
			border: none !important;
		}
		
		&.ui-fileupload-simple{
			position: absolute !important;
			bottom: 0 !important;
			right: 1em !important;
			
			.ui-state-default{
				background: transparent !important;
				border: none !important;
			}
			
			.ui-fileupload-filename{
				display: none !important;
			}
			
			.ui-icon{
				margin-top: -8px !important;
				left: .3em !important;
				font-weight: bolder !important;
			}
		}
	}
	
	&-button{
		position: absolute !important;
		bottom: 0 !important;
		right: 3em !important;
		background: transparent !important;
		border: none !important;
		width: 1.2em !important;
		overflow: hidden !important;
		
		&:focus{
			outline: none !important;
			border: none !important;
		}
		
		.ui-icon{
			margin: 0px !important;
			margin-top: -0.7em !important;
			left: 0 !important;
		}
	}
	
	@media screen and (max-width: 1000px) {
		width: 100%;
		height: 20em;
	}
}
