
/***************************************************
 ********************* INPUT ***********************
 ***************************************************/

/***************************************************
 * TEXT
 ***************************************************/
$--element: getMap($default, ("all", "input","all", "text"));
$--element-color: getMap($--element, ("color", "primary"));
$--element-border: getMap($--element, ("border"));

.sofia-input-text{
	@include input-text($--element-color, $--element-border);
}

/***************************************************
 * SELECTION 
 ***************************************************/

.ui-selectonemenu-panel {
	.ui-selectonemenu-list-item,
	.ui-selectonemenu-item-group{
			font-size: .8em !important;
	}
	.ui-selectonemenu-item,
    .ui-selectonemenu-item-group{
		text-align: center !important;
		font-family: $--project-font-family !important;
	}
}