
/***************************************************
 ********************** MENU ***********************
 ***************************************************/

/***************************************************
 * GENERIC
 ***************************************************/
.sofia-container-menu-up-generic__form{
		&-menu{
		&.ui-menubar,
		&{
			background: nth(getMap($project, ("color", "primary")), 1);
			border-radius: 0em !important;
			margin: 0em;
			border: none !important;
		}
		
		&-item{
			margin-top: .5em !important;
		}
		
		&-item-logo{
			padding: 0em !important;
			&:hover{
				background: transparent !important;
			}
		}
		
		.ui-menuitem-link{
			color: nth(getMap($project, ("color", "primary")), 2);
			font-size: .9em !important;
			font-family: $--project-font-family !important;
			&.ui-state-hover{
				color: nth(getMap($project, ("color", "body")), 2);
				.ui-menuitem-icon{
					@include text-shadow(darken(nth(getMap($project, ("color", "primary")), 1), 13));
					color: nth(getMap($project, ("color", "primary")), 2);
					animation: sofia-container-menu-index__move--link-icon 1s ease-in-out infinite;
				}
			}
			.ui-menuitem-icon{
				margin-right: .2em;
				@include text-shadow(nth(getMap($project, ("color", "primary")), 2));
				color: darken(nth(getMap($project, ("color", "primary")), 1), 13);
			}
		}
		&-submenu{
			.ui-menu-child{
				.ui-menuitem-link{
					color: nth(getMap($project, ("color", "body")), 2) !important;
				}
			}
		}
	}
	
	@keyframes sofia-container-menu-index__move--link-icon {
		0% { 
          	transform: rotate(2deg);
        }
        50% {
         	transform: rotate(-3deg);
        }
        70% {
          	transform: rotate(3deg);
        }
      
        100% {
          	transform: rotate(0deg);
        }
	}
}

.sofia-container-menu-left-generic__form-menu{
	width: 250px !important;
	.ui-panelmenu-panel{
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
			background: nth(getMap($project, ("color", "primary")), 1) !important;
			color: nth(getMap($project, ("color", "primary")), 2) !important; 
			font-size: .8em;
			a{
				color: nth(getMap($project, ("color", "primary")), 2) !important; 
				&:hover{
					color: nth(getMap($project, ("color", "primary")), 2) !important; 
				}
			}
		}
		.ui-panelmenu-content{
			.ui-menuitem-link-hasicon, .ui-menuitem-link{
				font-size: .8em !important;
				.ui-menuitem-text{
					font-size: .9em !important;
					padding-left: .3em;
				}
				.ui-icon{
					font-size: 0.9em;
					display: flex;
					align-content: center;
					justify-content: center;
					color: nth(getMap($project, ("color", "body")), 2);
					&::before{
						align-self: center;
					}
				}
				
				&:hover{
					.ui-icon{
						color: nth(getMap($project, ("color", "primary")), 1) !important;
						animation: sofia-container-menu-index__move--link-icon 1s ease-in-out infinite;
					}
				}
				
			}
		}
	}
}

/***************************************************
 * INDEX
 ***************************************************/

/***************************************************
 * UP
 ***************************************************/
