/***************************************************
 ******************** SECTION **********************
 ***************************************************/

.sofia-container-section-generic__center{
	width: 98%;
	margin: auto;
	border-radius: 0.8em;
	background-color: nth(getMap($color,("white", "darken-2")),1); 
	overflow: hidden;
	position: relative;
	padding-bottom: 1em;
	&-padding{
		padding: 1em;
	}
}

.sofia-container-is-statu-generic{
	&,
	&.ui-widget-header{
		background: nth(getMap($project,("color", "primary")),1) !important; 
		position: absolute;
		border: 1px solid transparent !important;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}
	ul{
		li{
			a{
				text-decoration: none !important;
				.ui-menuitem-text{
					font-size: 0.8em !important;
					color: nth(getMap($project,("color", "primary")), 2) !important;
				}
				&:hover{
					color: darken(nth(getMap($project,("color", "primary")), 2),10) !important;
				}
			}
		}
	}
} 
	
.sofia-container-section-generic__center-title{
	position: relative;
	width: 100%;
    overflow: hidden;

	.sofia-image-80{
		height: 50vh; 
		object-fit: cover;
	}
	.sofia-container-section-generic__center-title-absolute{
		@include display-flex();
  		position: absolute;
   		left: 50%;
   		top: 40%;
   		transform: translate(-50%, -50%);
   		-webkit-transform: translate(-50%, -50%);
		.sofia-title{
      		font-size: 5em;
			@include text-shadow(nth(getMap($project, ("color", "primary")), 2));
			color: nth(getMap($project, ("color", "primary")), 1);
			transition: all 0.5s linear;
			&:hover{
				@include text-shadow(darken(nth(getMap($project, ("color", "primary")), 2), 10%));
				color: nth(getMap($project, ("color", "primary")), 1);
			}
   		}
   		.sofia-subtitle{
			 color: nth(getMap($project, ("color", "body")), 1);
     		 font-size: 2em;
  		}
		@media screen and (max-width: 980px) {
      		.sofia-title{
         		font-size: 3em;
      		}
      		.sofia-subtitle{
        	 	font-size: 1.5em;
      		}
  		}
	}
	
	&-svg{
		position: absolute;
		overflow: hidden;
		bottom: 0;
        width: 100%;
        height: 10em;
  		svg{
     	 	height: 100%;  
      		width: 100%; 
      		background-color: transparent;
      		path{
         		position: relative;
         		fill:  nth(getMap($color,("white", "darken-2")),1); 
         		stroke: none;
      		}
   		}
	}
}