/***************************************************
 ********************** TEXT ***********************
 ***************************************************/

/***************************************************
 * TITLE 
 ***************************************************/
.sofia-title{
	@include text(nth(getMap($project, ("color", "primary")),1), uppercase, $--project-font-family);
	font-size: 2.5em;
}

.sofia-subtitle {
	@include text(nth(getMap($project, ("color", "body")), 2), uppercase, $--project-font-family);
	font-style: italic;
	font-size: 1.875em;
}

/***************************************************
 * IMAGE 
 ***************************************************/
.sofia-container-text-image{
	&__h1{
    	padding: 5px;
    	font-weight: 800;
    	color: transparent;
    	font-size: 5em;
    	background: url(img/register.jpg) repeat; 
    	background-position: center center;
    	background-size: 200%;
		background-clip: text;
		font-family: $--project-font-family;
    	position: relative;
    	text-align: center;
    	line-height: 90px;
    	letter-spacing: -8px; 
	} 
	&__h2{
    	display: block;
    	text-align: center;
    	text-transform: uppercase;
   	 	padding-top: 10px;
		font-family: $--project-font-family;
	}
}