/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////// VARIABLE ////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "color/color";

//############################################
//# PROJECT 
//############################################
$project:(
	"font":(
        "family":(
            "url": 'https://fonts.googleapis.com/css?family=Muli&display=swap',
            "font": (
                "primary": ('Muli', monospace, 'Times New Roman', sans-serif), 
				"secundary": ('Architects Daughter', cursive, monospace),
            ),
        ),
    ), 
	"color":(
		"body": (#FFFFFF, #34332F),    
        "primary": (#305297, #FFFFFF),  
		"error":(getMap($color, ("red", "base"))),
		"info": (getMap($color, ("yellow", "base"))),
		"succes": (getMap($color, ("green", "base"))),
		"fatal": (getMap($color, ("gray", "base"))),
		"other": (getMap($color, ("blue", "base"))),
	),
);

//==================================================================================================
//==================================================================================================
//============================================ DEFAULT =============================================
//==================================================================================================
//==================================================================================================
$default:(
	 "all":(
		//############################################
		//# BODY 
		//############################################
		"body":(
			"font":(
				"size": (16px, 14px, 12px),
			),
		),
		//############################################
		//# BUTTON 
		//############################################
		"button":(
			"all":(
				"link":(
					"color":(transparent, nth(getMap($project, ("color", "body")), 2)),
				),
				"icon":(
					"dimension": 1em,
				),
				"button":(
					"font":(
						"size": 1em,
					),
					"color":getMap($project, ("color", "primary")), 
				),
			),
		),
		//############################################
		//# INPUT 
		//############################################
		"input":(
			"all":(
				"text":(
					"color":(
						"primary": getMap($color, ("white", "base")),
					),
					"border":  1px solid nth(getMap($color, ("gray", "base")), 1),
				),
			),
		),
		//############################################
		//# IMAGE 
		//############################################
		"image":( 
			"all":(
				"logo":(
					"dimension": (4em, 3em),
				),
			),
		),
		//############################################
		//# EFFECT 
		//############################################
		"effect":(
			"all":(
				"transform":(
					"all":(
						"label":(
							"all":(
								"span":(
									"color": nth(getMap($color, ("red", "base")), 1),
								),
							),
							"font":(
								"size": 1em,
							),
							"color": (
								1: #FFFFFF,
								2: nth(getMap($color, ("gray", "base")), 1),
							),
						),
					),
				),
			),
		),
		//############################################
		//# FORM 
		//############################################
		"form":(
			"panel":(
				"color": linear-gradient(to right, #4e4376, nth(getMap($project, ("color", "primary")), 1)),
				"all":(
					"row":(
						"color": getMap($color, ("white", "darken-2")),
					),
					"information":(
						"all":(
							"h4":(
								"font":(
									"size": 1em,
								),
								"color": nth(getMap($project, ("color", "primary")), 2),
							),
							"carousel":(
								"dimension": 600px,
								"all":(
									"statu":(
										"font":(
											"size": 1em,
										),
										"color":(
											1: getMap($color, ("white", "darken-2")),
											2: nth(getMap($color, ("yellow", "base")), 1),
										),
									),
									"image":(
										"dimension":(18.75em, 15.62em),
									),
								),
							),
						),
					),
				),
			),
			"all":(
				"generic":(
					"all":(
						"title":(
							"font":(
								"size": 2em,
							),
							"color": nth(getMap($project, ("color", "body")), 2),
						),
						"input":(
							"all":(
								"text":(
									"all":(
										"label":(
											"font":(
												"size": 1em,
											),
											"color": (
												1: nth(getMap($project, ("color", "body")), 2),
												2: nth(getMap($color, ("gray", "base")), 1),
											),
										),
									),
									"font":(
										"size": 1em,
									),
									"color":(
										"primary": (transparent, nth(getMap($project, ("color", "body")), 2)), 
									),
									"border":  1px solid nth(getMap($color, ("gray", "base")), 1),
								),
							),
						),
					),
					"color": getMap($color, ("white", "darken-2")),
				),
				"login":(
				),
			),
		),
	),
);