/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// COLOR /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$color-option-1: #FFFFFF;
$color-option-2: #34332F;

// KEY : (BACKGROUND, COLOR)

///////////////////////////////////////////////////
// DEFAULT
///////////////////////////////////////////////////
$color-default:(
    "black": ($color-option-2, $color-option-1),
    "transparent": (transparent, $color-option-2),
    "white": ($color-option-1, $color-option-2),
);

///////////////////////////////////////////////////
// AMBER
///////////////////////////////////////////////////
$color-amber:(
    "base":         (#ffc107, $color-option-1),
    "lighten-5":    (#fff8e1, $color-option-2),
    "lighten-4":    (#ffecb3, $color-option-2),
    "lighten-3":    (#ffe082, $color-option-2),
    "lighten-2":    (#ffd54f, $color-option-2),
    "lighten-1":    (#ffca28, $color-option-2),
    "darken-1":     (#ffb300, $color-option-1),
    "darken-2":     (#ffa000, $color-option-1),
    "darken-3":     (#ff8f00, $color-option-1),
    "darken-4":     (#ff6f00, $color-option-1),
    "accent-1":     (#ffe57f, $color-option-2),
    "accent-2":     (#ffe57f, $color-option-2),
    "accent-3":     (#ffc400, $color-option-1),
    "accent-4":     (#ffab00, $color-option-1),
); 

///////////////////////////////////////////////////
// CYAN
///////////////////////////////////////////////////
$color-cyan:(
    "base":         (#00bcd4, $color-option-2),
    "lighten-5":    (#e0f7fa, $color-option-2),
    "lighten-4":    (#b2ebf2, $color-option-2),
    "lighten-3":    (#80deea, $color-option-2),
    "lighten-2":    (#4dd0e1, $color-option-2),
    "lighten-1":    (#26c6da, $color-option-2),
    "darken-1":     (#00acc1, $color-option-1),
    "darken-2":     (#0097a7, $color-option-1),
    "darken-3":     (#00838f, $color-option-1),
    "darken-4":     (#006064, $color-option-1),
    "accent-1":     (#84ffff, $color-option-2),
    "accent-2":     (#18ffff, $color-option-2),
    "accent-3":     (#00e5ff, $color-option-2),
    "accent-4":     (#00b8d4, $color-option-2),
);    

///////////////////////////////////////////////////
// BLACK
///////////////////////////////////////////////////
$color-black:(
    "base":         (#34332F, $color-option-1),
    "lighten-5":    (#EAECEE, $color-option-2),
    "lighten-4":    (#D5D8DC, $color-option-2),
    "lighten-3":    (#ABB2B9, $color-option-2),
    "lighten-2":    (#808B96, $color-option-1),
    "lighten-1":    (#566573, $color-option-1),
    "darken-1":     (#2C3E50, $color-option-1),
    "darken-2":     (#273746, $color-option-1),
    "darken-3":     (#212F3D, $color-option-1),
    "darken-4":     (#17202A, $color-option-1),
    "accent-1":     (#273746, $color-option-1),
    "accent-2":     (#212F3D, $color-option-1),
    "accent-3":     (#1C2833, $color-option-1),
    "accent-4":     (#17202A, $color-option-1),
);

///////////////////////////////////////////////////
// BLUE
///////////////////////////////////////////////////
$color-blue:(
    "base":         (#2196F3, $color-option-1),
    "lighten-5":    (#E3F2FD, $color-option-2),
    "lighten-4":    (#BBDEFB, $color-option-2),
    "lighten-3":    (#90CAF9, $color-option-2),
    "lighten-2":    (#64B5F6, $color-option-2),
    "lighten-1":    (#42A5F5, $color-option-2),
    "darken-1":     (#1E88E5, $color-option-1),
    "darken-2":     (#1976D2, $color-option-1),
    "darken-3":     (#1565C0, $color-option-1),
    "darken-4":     (#0D47A1, $color-option-1),
    "accent-1":     (#82B1FF, $color-option-2),
    "accent-2":     (#448AFF, $color-option-2),
    "accent-3":     (#2979FF, $color-option-1),
    "accent-4":     (#2962FF, $color-option-1),
);  

$color-blue-light:(
    "base":         (#03a9f4, $color-option-1),
    "lighten-5":    (#e1f5fe, $color-option-2),
    "lighten-4":    (#b3e5fc, $color-option-2),
    "lighten-3":    (#81d4fa, $color-option-2),
    "lighten-2":    (#4fc3f7, $color-option-2),
    "lighten-1":    (#29b6f6, $color-option-2),
    "darken-1":     (#039be5, $color-option-1),
    "darken-2":     (#0288d1, $color-option-1),
    "darken-3":     (#0277bd, $color-option-1),
    "darken-4":     (#01579b, $color-option-1),
    "accent-1":     (#80d8ff, $color-option-2),
    "accent-2":     (#40c4ff, $color-option-1),
    "accent-3":     (#00b0ff, $color-option-1),
    "accent-4":     (#0091ea, $color-option-1),
);  

$color-blue-gray:(
    "base":         (#607d8b, $color-option-1),
    "lighten-5":    (#eceff1, $color-option-2),
    "lighten-4":    (#cfd8dc, $color-option-2),
    "lighten-3":    (#b0bec5, $color-option-2),
    "lighten-2":    (#90a4ae, $color-option-2),
    "lighten-1":    (#78909c, $color-option-2),
    "darken-1":     (#546e7a, $color-option-2),
    "darken-2":     (#455a64, $color-option-1),
    "darken-3":     (#37474f, $color-option-1),
    "darken-4":     (#263238, $color-option-1),
);  

///////////////////////////////////////////////////
// BROWN
///////////////////////////////////////////////////
$color-brown: (
    "base":         (#795548, $color-option-1),
    "lighten-5":    (#efebe9, $color-option-2),
    "lighten-4":    (#d7ccc8, $color-option-2),
    "lighten-3":    (#bcaaa4, $color-option-2),
    "lighten-2":    (#a1887f, $color-option-1),
    "lighten-1":    (#8d6e63, $color-option-1),
    "darken-1":     (#6d4c41, $color-option-1),
    "darken-2":     (#5d4037, $color-option-1),
    "darken-3":     (#4e342e, $color-option-1),
    "darken-4":     (#3e2723, $color-option-1),
);

///////////////////////////////////////////////////
// GRAY
///////////////////////////////////////////////////
$color-gray:(
    "base":         (#9e9e9e, $color-option-1),
    "lighten-5":    (#fafafa, $color-option-2),
    "lighten-4":    (#f5f5f5, $color-option-2),
    "lighten-3":    (#eeeeee, $color-option-2),
    "lighten-2":    (#e0e0e0, $color-option-2),
    "lighten-1":    (#bdbdbd, $color-option-2),
    "darken-1":     (#757575, $color-option-1),
    "darken-2":     (#616161, $color-option-1),
    "darken-3":     (#424242, $color-option-1),
    "darken-4":     (#212121, $color-option-1),
);

///////////////////////////////////////////////////
// GREEN
///////////////////////////////////////////////////
$color-green:(
    "base":         (#4CAF50, $color-option-1),
    "lighten-5":    (#E8F5E9, $color-option-2),
    "lighten-4":    (#C8E6C9, $color-option-2),
    "lighten-3":    (#A5D6A7, $color-option-2),
    "lighten-2":    (#81C784, $color-option-1),
    "lighten-1":    (#66BB6A, $color-option-1),
    "darken-1":     (#43A047, $color-option-1),
    "darken-2":     (#388E3C, $color-option-1),
    "darken-3":     (#2E7D32, $color-option-1),
    "darken-4":     (#1B5E20, $color-option-1),
    "accent-1":     (#B9F6CA, $color-option-1),
    "accent-2":     (#69F0AE, $color-option-2),
    "accent-3":     (#00E676, $color-option-2),
    "accent-4":     (#00C853, $color-option-2),
);

$color-green-light:(
    "base":         (#8bc34a, $color-option-1),
    "lighten-5":    (#f1f8e9, $color-option-2),
    "lighten-4":    (#dcedc8, $color-option-2),
    "lighten-3":    (#c5e1a5, $color-option-2),
    "lighten-2":    (#aed581, $color-option-2),
    "lighten-1":    (#9ccc65, $color-option-2),
    "darken-1":     (#7cb342, $color-option-1),
    "darken-2":     (#689f38, $color-option-1),
    "darken-3":     (#558b2f, $color-option-1),
    "darken-4":     (#33691e, $color-option-1),
    "accent-1":     (#ccff90, $color-option-2),
    "accent-2":     (#b2ff59, $color-option-2),
    "accent-3":     (#76ff03, $color-option-2),
    "accent-4":     (#64dd17, $color-option-2),
);
 

///////////////////////////////////////////////////
// INDIGO
///////////////////////////////////////////////////
$color-indigo:(
    "base":         (#3f51b5, $color-option-1),
    "lighten-5":    (#e8eaf6, $color-option-2),
    "lighten-4":    (#c5cae9, $color-option-2),
    "lighten-3":    (#9fa8da, $color-option-2),
    "lighten-2":    (#7986cb, $color-option-2),
    "lighten-1":    (#5c6bc0, $color-option-2),
    "darken-1":     (#3949ab, $color-option-1),
    "darken-2":     (#303f9f, $color-option-1),
    "darken-3":     (#283593, $color-option-1),
    "darken-4":     (#1a237e, $color-option-1),
    "accent-1":     (#8c9eff, $color-option-1),
    "accent-2":     (#536dfe, $color-option-2),
    "accent-3":     (#3d5afe, $color-option-2),
    "accent-4":     (#304ffe, $color-option-1),
);

///////////////////////////////////////////////////
// LIME
///////////////////////////////////////////////////
$color-lime:(
    "base":         (#cddc39, $color-option-1),
    "lighten-5":    (#f9fbe7, $color-option-2),
    "lighten-4":    (#f0f4c3, $color-option-2),
    "lighten-3":    (#e6ee9c, $color-option-2),
    "lighten-2":    (#dce775, $color-option-2),
    "lighten-1":    (#d4e157, $color-option-2),
    "darken-1":     (#c0ca33, $color-option-2),
    "darken-2":     (#afb42b, $color-option-2),
    "darken-3":     (#9e9d24, $color-option-2),
    "darken-4":     (#827717, $color-option-1),
    "accent-1":     (#f4ff81, $color-option-2),
    "accent-2":     (#eeff41, $color-option-2),
    "accent-3":     (#c6ff00, $color-option-2),
    "accent-4":     (#aeea00, $color-option-2),  
);   

///////////////////////////////////////////////////
// ORANGE
///////////////////////////////////////////////////
$color-orange:(
    "base":         (#ff9800, $color-option-1),
    "lighten-5":    (#fff3e0, $color-option-2),
    "lighten-4":    (#ffecb3, $color-option-2),
    "lighten-3":    (#ffecb3, $color-option-2),
    "lighten-2":    (#ffe082, $color-option-2),
    "lighten-1":    (#ffd54f, $color-option-2),
    "darken-1":     (#ffca28, $color-option-2),
    "darken-2":     (#ffb300, $color-option-1),
    "darken-3":     (#ffa000, $color-option-1),
    "darken-4":     (#ff8f00, $color-option-1),
    "accent-1":     (#ffe57f, $color-option-2),
    "accent-2":     (#ffd740, $color-option-2),
    "accent-3":     (#ffc400, $color-option-1),
    "accent-4":     (#ffab00, $color-option-1),  
);

$color-orange-dark:(
    "base":         (#ff5722, $color-option-1),
    "lighten-5":    (#fbe9e7, $color-option-2),
    "lighten-4":    (#ffccbc, $color-option-2),
    "lighten-3":    (#ffab91, $color-option-2),
    "lighten-2":    (#ff8a65, $color-option-2),
    "lighten-1":    (#ff7043, $color-option-1),
    "darken-1":     (#f4511e, $color-option-1),
    "darken-2":     (#e64a19, $color-option-1),
    "darken-3":     (#d84315, $color-option-1),
    "darken-4":     (#bf360c, $color-option-1),
    "accent-1":     (#ff9e80, $color-option-1),
    "accent-2":     (#ff6e40, $color-option-2),
    "accent-3":     (#ff3d00, $color-option-1),
    "accent-4":     (#dd2c00, $color-option-1),
);

///////////////////////////////////////////////////
// PURPLE
///////////////////////////////////////////////////
$color-purple:(
    "base":         (#9c27b0, $color-option-1),
    "lighten-5":    (#f3e5f5, $color-option-2),
    "lighten-4":    (#e1bee7, $color-option-2),
    "lighten-3":    (#ce93d8, $color-option-2),
    "lighten-2":    (#ba68c8, $color-option-2),
    "lighten-1":    (#ab47bc, $color-option-1),
    "darken-1":     (#8e24aa, $color-option-1),
    "darken-2":     (#7b1fa2, $color-option-1),
    "darken-3":     (#6a1b9a, $color-option-1),
    "darken-4":     (#4a148c, $color-option-1),
    "accent-1":     (#ea80fc, $color-option-1),
    "accent-2":     (#e040fb, $color-option-1),
    "accent-3":     (#d500f9, $color-option-1),
    "accent-4":     (#aa00ff, $color-option-1),
); 

$color-purple-dark:(
    "base":         (#673ab7, $color-option-1),
    "lighten-5":    (#ede7f6, $color-option-2),
    "lighten-4":    (#d1c4e9, $color-option-2),
    "lighten-3":    (#b39ddb, $color-option-2),
    "lighten-2":    (#9575cd, $color-option-2),
    "lighten-1":    (#7e57c2, $color-option-2),
    "darken-1":     (#5e35b1, $color-option-1),
    "darken-2":     (#512da8, $color-option-1),
    "darken-3":     (#4527a0, $color-option-1),
    "darken-4":     (#311b92, $color-option-1),
    "accent-1":     (#b388ff, $color-option-2),
    "accent-2":     (#7c4dff, $color-option-2),
    "accent-3":     (#651fff, $color-option-1),
    "accent-4":     (#6200ea, $color-option-1),
);   

///////////////////////////////////////////////////
// PINK
///////////////////////////////////////////////////
$color-pink:(
    "base":         (#e91e63, $color-option-1),
    "lighten-5":    (#fce4ec, $color-option-2),
    "lighten-4":    (#f8bbd0, $color-option-2),
    "lighten-3":    (#f48fb1, $color-option-2),
    "lighten-2":    (#f06292, $color-option-2),
    "lighten-1":    (#ec407a, $color-option-2),
    "darken-1":     (#d81b60, $color-option-1),
    "darken-2":     (#c2185b, $color-option-1),
    "darken-3":     (#ad1457, $color-option-1),
    "darken-4":     (#880e4f, $color-option-1),
    "accent-1":     (#ff80ab, $color-option-2),
    "accent-2":     (#ff4081, $color-option-1),
    "accent-3":     (#f50057, $color-option-1),
    "accent-4":     (#c51162, $color-option-1),
);   

///////////////////////////////////////////////////
// RED
///////////////////////////////////////////////////
$color-red:(
    "base":         (#F44336, $color-option-1),
    "lighten-5":    (#FFCDD2, $color-option-2),
    "lighten-4":    (#EF9A9A, $color-option-2),
    "lighten-3":    (#EF9A9A, $color-option-2),
    "lighten-2":    (#E57373, $color-option-2),
    "lighten-1":    (#EF5350, $color-option-2),
    "darken-1":     (#E53935, $color-option-1),
    "darken-2":     (#D32F2F, $color-option-1),
    "darken-3":     (#C62828, $color-option-1),
    "darken-4":     (#B71C1C, $color-option-1),
    "accent-1":     (#FF8A80, $color-option-2),
    "accent-2":     (#FF5252, $color-option-1),
    "accent-3":     (#FF1744, $color-option-2),
    "accent-4":     (#D50000, $color-option-1),
);

///////////////////////////////////////////////////
// TEAL
///////////////////////////////////////////////////
$color-teal:(
    "base":         (#009688, $color-option-1),
    "lighten-5":    (#e0f2f1, $color-option-2),
    "lighten-4":    (#b2dfdb, $color-option-2),
    "lighten-3":    (#80cbc4, $color-option-2),
    "lighten-2":    (#4db6ac, $color-option-2),
    "lighten-1":    (#26a69a, $color-option-2),
    "darken-1":     (#00897b, $color-option-1),
    "darken-2":     (#00796b, $color-option-1),
    "darken-3":     (#00695c, $color-option-1),
    "darken-4":     (#004d40, $color-option-1),
    "accent-1":     (#a7ffeb, $color-option-2),
    "accent-2":     (#64ffda, $color-option-2),
    "accent-3":     (#1de9b6, $color-option-2),
    "accent-4":     (#00bfa5, $color-option-2),
);   

///////////////////////////////////////////////////
// YELLOW
///////////////////////////////////////////////////
$color-yellow:(
    "base":         (#ffeb3b, $color-option-2),
    "lighten-5":    (#fffde7, $color-option-2),
    "lighten-4":    (#fff9c4, $color-option-2),
    "lighten-3":    (#fff59d, $color-option-2),
    "lighten-2":    (#fff176, $color-option-2),
    "lighten-1":    (#ffee58, $color-option-2),
    "darken-1":     (#fdd835, $color-option-1),
    "darken-2":     (#fbc02d, $color-option-1),
    "darken-3":     (#f9a825, $color-option-1),
    "darken-4":     (#f57f17, $color-option-1),
    "accent-1":     (#ffff8d, $color-option-2),
    "accent-2":     (#ffff00, $color-option-2),
    "accent-3":     (#ffea00, $color-option-2),
    "accent-4":     (#ffd600, $color-option-2),
); 

///////////////////////////////////////////////////
// WHITE
///////////////////////////////////////////////////
$color-white:(
    "base":         (#FFFFFF, $color-option-2),
    "lighten-5":    (#FDFEFE, $color-option-2),
    "lighten-4":    (#FBFCFC, $color-option-2),
    "lighten-3":    (#F7F9F9, $color-option-2),
    "lighten-2":    (#F4F6F7, $color-option-2),
    "lighten-1":    (#F0F3F4, $color-option-2),
    "darken-1":     (#F7F9F9, $color-option-2),
    "darken-2":     (#F5F5F5, $color-option-2),
    "darken-3":     (#F0F3F4, $color-option-2),
    "darken-4":     (#ECF0F1, $color-option-2),
); 

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLOR ///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
$color:(
    "amber":        $color-amber,
    "cyan":         $color-cyan,
    "black":        $color-black,
    "blue":         $color-blue,
    "blue-light":   $color-blue-light,
    "blue-gray":    $color-blue-gray,
    "brown":        $color-brown,
    "gray":         $color-gray,
    "green":        $color-green,
    "green-light":  $color-green-light,
    "indigo":       $color-indigo,
    "lime":         $color-lime,
    "orange":       $color-orange,
    "orange-dark":  $color-orange-dark,
    "purple":       $color-purple,
    "purple-dark":  $color-purple-dark,
    "pink":         $color-pink,
    "red":          $color-red,
    "teal":         $color-teal,
    "yellow":       $color-yellow,
    "white":        $color-white,
    "default":      $color-default
);