/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////// COMPONENTS /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$--project-font-family: getMap($project, ("font", "family", "font", "primary"));
$--project-font-family-2: getMap($project, ("font", "family", "font", "secundary"));
$--project-font-family-url: getMap($project, ("font", "family", "url")); 

@import "components/body";
@import "components/background";
@import "components/text";
@import "components/button";
@import "components/input";

@import "components/alert";
@import "components/image";
@import "components/card";
@import "components/effect";

@import "components/display";
@import "components/position";

@import "components/menu";
@import "components/form";
@import "components/structure";
@import "components/section";